<!--Bottom Nav-->
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">&copy; Copyright 2021 Nishit Modi</a>
            </div>
        </nav>
    </footer>
