<div class="row mx-4 my-2">
    <div class="col-md-12 text-center">
         <h1 class="text-warning">About Me!</h1>
     </div>
     <div class="row mt-5 mb-5">
         <div class="col-md-3">
              <img src="/Assets/images/myphoto.jpg" class="img-fluid mb-2" alt="..." >   
         </div>
         <div class="col-md-9">
              <div class="mt-4">               
                   <p class="h5 text-white">Welcome aboard!</p>
                   <p class="h5 text-white">
                        I am <b>Nishit Modi, currently pursuing 
                        <b>Software Engineering Technology-Artificial Intelligence Program</b> at Centennial College.
                   </p>
                   <p class="h5 text-white">
                    Coding and Management are two skills that I have been develpoing over the years and wish to integrate both into a career some day.
                   </p>
                   
              </div>
              <div class="mt-4 text-center">
                  <p class="h4 text-white"><i class="fas fa-file-download"></i> Here is my resume!</p>
                   <a href="/Assets/images/Nishitresume.pdf" download = "Nishitresume" style="text-decoration: none">
                        <button type="button" class="btn text-dark btn-lg bg-white">Download PDF <i class="fa fa-download" download></i></button>
                   </a>
              </div>
              
         </div>
    </div>
</div>