<!DOCTYPE html>
<html>
  <%- include partials/header %>   
  
  <body class="d-flex flex-column h-1000 mb-5" style="background-color: rgb(47, 95, 201);" >
    <header>      
      <%- include partials/main_nav %>
    </header>
    <main class="flex-shrink-0">
      <div class="container mt-4 mb-2" style="box-shadow: 1px 1px 5px 3px rgb(41 55 74); background-color: rgb(33 32 32);">
        <div class="row" style="height: 100%;" >
          <div class="col-md-12 mx-2 my-2">
            <div class="col-md-12 text-center">
              <h1 class="h1 text-warning"><i class="fas fa-phone-alt"></i> Contact Me!</h1>
              <p class="h5 text-white mt-3">Message me for more information</p>
              
              <p class="h5 text-white">Send me an email at: 
                <i class="fas fa-envelope-open-text"></i><b> nmodi20@my.centennialcollege.ca</b>
              </p>
           
            </div>
            <h1 class="text-warning text-center mt-2 mb-4">Fill your details below!</h1> 
            <!--Form -->
            <div class="col-md-12">
            <div class="form-field text-white">       
              <form style="text-align: start;" id="form" >
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                    <input type="text" class="form-control" value="" name="firstName" id="exampleFormControlInput1" placeholder="Enter your First Name">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" value="" name="lastName" id="exampleFormControlInput1" placeholder="Enter your Last Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" value="" name="email" id="exampleFormControlInput1" placeholder="Enter your email">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mobile No</label>
                    <input type="number" class="form-control" value="" name="mobile" id="exampleFormControlInput1" placeholder="Enter your mobile number ">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" value="" name="description" id="exampleFormControlTextarea1" placeholder="Type your message here" rows="3"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                  <a href="/">  <button type="button" class="btn  btn-lg btn-primary" >Submit</button></a>
                  </div>
                </div>
                </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer class="footer mt-auto py-2 fixed-bottom" style="background-color: rgb(19, 67, 170);">
    <%- include partials/footer %>
    <%- include partials/footer_nav %>

  </footer>
</html>