<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12 text-center">
        <h1 class="text-warning">Hello, I'm Nishit!</h1>
    
            <i class="h4 text-white">" I will keep the beginners mind by playing and experimenting without the fear of failure. There will always be things I have to learn and I will make mistakes, which develop me. "</i>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            
            <p class="h5 text-white"><a href="/about" style="color: rgb(30, 255, 0);"><button type="button" class="btn  btn-md btn-primary" >About</button></a> Click here for details about me.</p>
            <p class="h5 text-white"><a href="/projects" style="color: rgb(0, 255, 0);"><button type="button" class="btn  btn-md btn-primary" >Projects</button></a> Click here for the details about my projects.</p>
            <p class="h5 text-white"><a href="/services" style="color: rgb(0, 255, 42);"><button type="button" class="btn  btn-md btn-primary" >Services </button></a> Click here for the details about the services we provide.</p>
        </div>
        <div class="col-md-12 mt-5 text-center align-items-end">
            </div>
        </div>
    </div>
</div>