<%# Featured projects %>
<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12">
         <h1 class="h1 text-warning text-center" style="color: rgb(21, 240, 32)" ><i class="fas fa-file-code"></i> Projects</h1>
    </div>
    <div class="row mt-5 text-center align-items-center">
         <div class="col-md-8">
              <div class="card-body" style="background-color: #0e54eb;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                   <p class="h3" style="color: rgb(0, 255, 13);">Hospital Management System</p>
                   <p class="h5 text-white">
                      Hospital management system is a desktop application developed on Java SE platform and based on Swings framework, using
                      MySQL Server as database client. The application was developed to serve the purpose of manage accounts and keeps the record
                   </p>               
                 </div>
         </div>
         <div class="col-md-4">
              <div class="card d-flex flex-row-reverse" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                   <img src="Assets/images/proj1.jpg" class="card-img-top" alt="...">
                   
              </div>
         </div>
    </div>
    <div class="row mt-5 text-center align-items-center">
         <div class="col-md-4">
              <div class="card align-self-end" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                   <img src="Assets/images/proj2.jpg" class="card-img-top" alt="...">
                   
              </div>
         </div>
         <div class="col-md-8">
              <div class="card-body" style="background-color: #1381e2;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                   <p class="h3" style="color: rgb(9, 255, 0);">Monster Hunter game</p>
                   <p class="h5 text-white">
                        Monster hunter is a browser based game that uses the html canvas elements and some JavaScript feature Include : Monster that jumps each time it's clicked. The more it's caught the faster it jumps.
                        Score that increments each time the monster is caught.
                        Buttons to decrease the difficulty and/or restart the game. 
                   </p>
                   
              </div>
         </div>
    </div>
    
         </div>
    </div>
</div>